/* Write your CSS here */
.match-card {
  background-color: #000000;
  height: 500px;
  width: 400px;
  text-align: center;
  font-family: 'Bree Serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  margin: 10px;
}
@media screen and (max-width: 767px) {
  .match-card {
    height: 350px;
    width: 200px;
  }
  .team-logo {
    width: 75px;
    height: 75px;
  }
}
.team-logo {
  height: 150px;
  width: 150px;
}
.won {
  color: #18ed66;
}
.lost {
  color: #e31a1a;
}
